include ../jade/mixins/_btn
include ../jade/mixins/_form
include ../jade/mixins/_list-item


doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
		meta(http-equiv="x-ua-compatible" content="ie=edge")

		block title
		link(rel="stylesheet", href="css/main.css")
	body
		.wrap
			block content
		script(src="js/main.js")
